body {
    font-family: "Manrope", sans-serif;
    background: linear-gradient(135deg, #0D0D0D, #1F1F1F, #3B0000);
    color: #EAEAEA;
}

.cabecalho {
    max-width: 1100px;
    margin: 48px auto 32px;
    padding: 0 16px;
    text-align: center;
}

.titulo-principal {
    display: flex;
    align-items: center;  /* centraliza verticalmente */
    justify-content: center;  /* centraliza horizontalmente */
    gap: 12px;
    flex-wrap: nowrap; /* mantém tudo na mesma linha */
    letter-spacing: 1px;   /* dá um respiro entre as letras */
}

.titulo {
    margin: 0;
    font-weight: 800;
    line-height: 1.1;
    font-size: clamp(22px, 4vw, 40px);
}

.titulo-principal img {
    width: 36px;
    height: 36px;
    object-fit: contain;
    flex: 0 0 auto;  /* impede de “amassar” os ícones */
}

.descricao {
    margin-top: 50px;
    margin-bottom: 80px;
    letter-spacing: 1px;   /* dá um respiro entre as letras */
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 colunas iguais */
    gap: 50px;   /* espaço entre os cards */
    max-width: 900px;
    margin: 0 auto;  /* centraliza a grade na página */
    padding: 40px 16px;   /* respiro nas laterais */
    margin-bottom: 100px;
}

.card {
    background-color: #1A1A1A; /* bem escuro, mas diferente do fundo */
    width: 400px;
    border: 1px solid #B22222; /* vermelho sangue */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    padding: 40px 30px;
    position: relative;
    letter-spacing: 1px;   /* dá um respiro entre as letras */
}

.musica {
    font-size: 22px;
    font-weight: 800;
    color: #CEE3E9;
    margin-bottom: 24px;
}

.banda {
    color: #53ffaa;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 24px;
}

.divisao {
    background-position: center;
    height: 16px;
    margin: 20px 0;
    border-bottom: 2px solid #FFFFFF
}

.botao {
    background-color: #53ffaa;
    border: none;
    border-radius: 50%;
    padding: 16px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
}

.botao img {
    width: 24px;
    height: 24px;
}

.botao:hover {
    box-shadow: 0 0 20px #53ffaa;
}

.rodape {
  display: flex;
  justify-content: center;   /* centraliza horizontalmente todo o conteúdo */
  align-items: center;  /* alinha verticalmente no centro */
  gap: 16px;     /* espaço entre o texto e os ícones */
  padding: 20px;
  background-color: #111111; /* quase preto */
  color: #EAEAEA;
}

.creditos {
  font-size: 14px;  /* tamanho da fonte */
  color: #FFFFFF;   /* cor do texto */
  font-weight: 600; /* peso da fonte */
  letter-spacing: 1px;   /* dá um respiro entre as letras */
}

.name {
  color: #53ffaa; /* vermelho sangue */        /* muda a cor (neon, por exemplo) */
  font-weight: 800;      /* deixa o peso da fonte mais forte */
  font-size: 18px;       /* aumenta um pouco o tamanho */
  letter-spacing: 1px;   /* dá um respiro entre as letras */
}

.icones {
  display: flex;
  gap: 12px; /* espaço entre os ícones */
}

.icones img {
  cursor: pointer; /* opcional: vira “mãozinha” ao passar o mouse */
  width: 30px;   /* aumenta a largura */
  height: 30px;  /* aumenta a altura */
  transition: transform 0.2s ease;
}

.icones img:hover {
  transform: scale(1.1); /* dá um leve zoom no hover */
}

@media (max-width: 900px) {

    .descricao{
        max-width: 600px;
        margin: 50px auto 80px;  /* centraliza e dá margem em cima e embaixo */ 
    }

    .container {
        grid-template-columns: 1fr;  /* muda para 1 coluna */
        padding: 20px 16px;   /* respiro nas laterais */
    }

    .card {
        width: 100%;  /* faz o card ocupar toda a largura disponível */
        max-width: 400px; /* mas não maior que 400px */
        margin: 0 auto; /* centraliza o card */
    }
}